.main-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100dvh;
}

main.container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.shadow {
    position: absolute;
    z-index: 5;
    top: clamp(150px, 175px, 200px);
    width: clamp(200px, 30vw, 600px);
    height: clamp(150px, 300px, 450px);
    border-radius: 99999px;
    filter: blur(100px);

    &.shadow-1 {
        right: clamp(16px, 15vw, 250px);
        background: linear-gradient(to right, hsl(210, 96%, 40%), hsl(240, 96%, 40%));
    }

    &.shadow-2 {
        left: clamp(16px, 15vw, 250px);
        background: linear-gradient(to left, hsl(285, 96%, 40%), hsl(315, 96%, 40%));
    }
}

.purple-grid {
    height: 35%;
    max-height: 575px;
    background-image: url('./assets/footer.svg');
    background-position-x: center;
}

#header {
    background: linear-gradient(180deg, #6057ED50, transparent);
}

#pricing-card {
    ul {
        list-style-type: none;

        li {
            position: relative;
            padding-left: 30px;
            &::before {
                content: url('assets/close.svg');
                position: absolute;
                left: 0;
            }

            &.success::before {
                content: url('assets/check.svg');
            }
        }
    }

    &.primary-card {
        position: relative;

        h2 {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background: linear-gradient(45deg, #5433FF, #20BDFF, #A5FECB);
            background-clip: text;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -4px;
            left: -4px;
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            padding: 10px;
            background-image: linear-gradient(45deg, #5433FF, #20BDFF, #A5FECB);
            border-radius: 8px;
        }
    }
}